<%- include("partials/header"); -%>
    <h1>About Us</h1>
    <p> At BlogMuse, we believe in the transformative power of words. We have created a platform that celebrates the art
        of writing, providing a space where writers can find inspiration, refine their craft, and share their stories
        with the world. Our goal is to be your muse, your guiding light on your blogging journey. </p>
    <p>Our mission is to inspire, empower, and connect bloggers from all walks of life. We strive to ignite your
        creativity, provide practical resources, and cultivate a sense of belonging within our blogging community. We
        believe that every writer has a unique story to tell, and our mission is to help you find your voice and share
        it with confidence.</p>
    <p>Thank you for being a part of BlogMuse. We are excited to be your muse on your blogging journey, and we can't
        wait to see the amazing stories you share with the world!</p>
    <%- include("partials/footer"); -%>