<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p>
        We would love to hear from you! If you have any questions, suggestions, or would like to contribute to BlogMuse,
        please don't hesitate to reach out. You can contact us through our <a
            href="mailto:kunalvijay.kv2002@gmail.com?subject=Hello%20there&body=I%20hope%20you%20are%20doing%20well">Email</a>
        or <a href="https://www.linkedin.com/in/kunal-vijay-82ab87203/">Linkedin</a>. We value your input and are
        committed to continuously improving and expanding our offerings based on your needs and interests.
    </p>
    <%- include("partials/footer"); -%>